.nav {
    /* color: black; */
    position: fixed;
    top: 0;
    /* width: 100%; */
    /* background-color: rgb(255, 230, 0); */
}

.nav.sticky {

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1 !important;
}

.logo {
    height: 50px;
    width: 150px;
}

.navText {
    color: #261e69;
}