.banner {
  background: linear-gradient(to right,
      rgba(0, 0, 0, 0.4),
      rgba(9, 26, 24, 0.85)),
    url(./../../Images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: #34f62d;
}

.title {
  /* width: 100%; */
  height: 100%;
  width: max-content;
}